/* Base styles */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:,300,400,400i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600');

html {
    background-color: #efefef;
}

h1, h2, h3, strong {
    color: #333;
    font-weight: 600;
}

body {
  margin: 0 auto;
  max-width: 55em;
  line-height: 1.35;
  padding: 1em 1em;
  background-color: white;
  color: #444;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body > p {
  text-align: justify;
  hyphens: auto;
  max-width: 60ch;
}

li {
  text-align: left;
}

li  p, li:only-child{
  text-align: justify;
  hyphens: auto;
  /* max-width: calc(60ch - 2em); */
  max-width: 60ch;
}


@media (min-width: 700px) {
    body {
        padding: 4em 8em;
    }
}

body>h1 {
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 4rem;
    margin-bottom: 1.0rem;
    display: block;
}

body>h2 {
  font-weight: 600;
  font-size: 1.2em;
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  padding: 0;
}

body>h3 {
  font-weight: 600;
  font-size: 1.0em;
  margin: 0.5em 0 0 0;
}

h1 + h2{
    margin-top: -1.0rem;
}


a, a strong, a:visited{
  text-decoration: none;
  color: #729fcf;
}
a:hover, a strong:hover{
  color: #204a87;
}
a:before {
}

hr {
  background: none;
  border: none;
  border-bottom: 1px solid #d8dee9;
}

blockquote {
    border: 1px solid #7c8390;
    padding: 0.75em;
    margin: 2em;
    border-radius: 0px;
}

figure {
    margin: 3em 1em;
    text-align: center;
}

figure img {
    max-width: 40em;
}

figcaption {
    font-style: normal;
    text-align: justify;
    hyphens: auto;
    margin: 1em auto; 
    max-width: 60ch;
    font-weight:300;
}
figcaption:before{
    content:"Figure: ";
    font-weight: 400;
}


pre {
}

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 4em;
  text-align: center;
}

ol, ul {
   padding-left:2em;
}

header {
    margin: 0 auto 1em auto;
    max-width: 60em;
    font-size: 1.3em;
    font-weight: 400;
}
@media (min-width: 700px) {
    header, header .title {
        margin-top: 1em;
    }
}

header p, header p + p {
    margin:0;
    text-indent: 0;
}

header .title {
  max-width: none;
  color: #433;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0;
  text-align: left;
}

header .subtitle{
    margin: 0;
    max-width: none;
    color: #433;
    font-size: 2.0em;
    font-weight: 200;
}

header .author {
    display: inline;
    font-weight: 300;
}
header .author + .author{
    padding-left: 1em;
}
header .date {
    font-weight: 300;
    font-size: 1rem;
}

.abstract{
  color: #433;
  text-align: justify;
  max-width: 60ch;
  font-size: 1.0rem;
}
.abstract h1 {
  font-size: 1.0rem;
  font-weight: 600;
  margin-bottom: 0;
}

#TOC:before {
    content: "Contents";
    font-weight: 600;
}
#TOC  ul {
    margin-top:0;
    list-style-type:none;
    padding-left:0.0em;
}
#TOC  li {
    font-weight: 400;
    margin-top:0.12rem;
}

#TOC a {
    text-decoration: none;
}
#TOC a:hover {
    font-weight: 600;
}

@media (max-width: 700px) {
    #TOC li a, #TOC:before  {
        display:block;
        width:100%;
        padding:0.5em 0;
        margin: 0.4em 0;
    }
    #TOC li a:hover {
        background-color: #eee;
    }
}

code{
  font-size: 1em;
}

pre {
    text-align: left;
    hyphens: none;
    font-family: 'Source Code Pro', monospace;
    -moz-font-smoothing: grayscale;
    /* -webkit-font-smoothing: initial; */
    color: #333;
    background: #fafafa;
    overflow: auto;
    white-space: pre-wrap;
    padding: 1em;
    margin: 1em;
}

p > code {
    padding: 2px;
}


p {
    margin 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

p + p {
    margin-top:0.5em;
    /* text-indent: 1em; */
}


li > p {
    margin: 0;
}
li + li > p{
    margin-top: 1em;
}

li > li + p{
    margin-top: 1em;
}



/*
@media (min-width: calc(900px+1rem)) {
    #TOC {
        position: fixed;
        top: 5rem;
        left: calc(50% + 40ch + 8rem + 0.5rem);
        text-align:left;
    }
}
*/


#footer {
    padding-top: 1em;
    font-size: 70%;
    color: gray;
    text-align: center;
}

.sourceCode {
    overflow: visible;
}

table {
    border-collapse: collapse;
    margin: 2.5em auto;
}
th {
    padding: 0.8em 1em;
    font-weight: 600;
}
td{
    padding: 0.25rem 1em;
    vertical-align: top;
}
th:first-child,
td:first-child{
    padding-left: 0.5em;
}
th:last-child,
td:last-child{
    padding-right: 0.5em;
}
thead {
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}


/*
li > table {
    margin: 1em auto;
}
*/

body > ul  li, body ol li {
    padding: 0.2em 0;
}


.wide {
    font-size: 0.8em;
}
